<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.zyj.jfcs.app.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.zyj.jfcs.app.Perspective"
            name="rcpPerspective"
            id="com.zyj.jfcs.app.perspective"> <!-- 这里ID必需要使用累的全限定名称 -->
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="jfcs"
            application="jfcs.application">
         <property
               name="windowImages"
               value="icons/eclipse16.png,icons/eclipse32.png,icons/eclipse48.png,icons/eclipse64.png, icons/eclipse128.png,icons/eclipse256.png">
         </property>
         <property
               name="appName"
               value="jfcs">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            id="jfcs.intro"
            class="org.eclipse.ui.intro.config.CustomizableIntroPart">
      </intro>
      <introProductBinding
            introId="jfcs.intro"
            productId="jfcs.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            id="jfcs.configId"
            introId="jfcs.intro"
            content="introContent.xml">
         <presentation
               home-page-id="root">
            <implementation
                  os="win32,linux,macosx"
                  kind="html">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="com.zyj.jfcs.app.ui.TeachUnitName"
            id="com.zyj.jfcs.app.ui.teachunitname"
            name="教学单位"
            restorable="true">	
      </view>
      <view
            allowMultiple="false"
            class="com.zyj.jfcs.app.ui.PieDiagram"
            id="com.zyj.jfcs.app.ui.piediagram"
            name="经费概览"
            restorable="true">
      </view>
      <view
            allowMultiple="false"
            class="com.zyj.jfcs.app.ui.TeachUnitClass"
            id="com.zyj.jfcs.app.ui.teachunitclass"
            name="教学单位课程明细"
            restorable="true">
      </view>
   </extension>

</plugin>
